.list {
    width: 100%;
    margin: 0;
}
.itens {
    border-bottom-width: 1px;
    border-style: 'solid';
    border-color: #dcdcdc;
}
.imagemspc {
    width: 70px;
}
.imagem {
    width: 100%;
}
.titulo {
    margin-left: 20px;
}
.pedidos {
    margin-bottom: 5px;
}
.pedido-situacao {
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: darkorange;
}
.pedido-icon {
    margin-left: 50%;
    border-radius: 50%;
    color: #fff;
    background-color: darkorange; 
}
  